.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 100vw;
    min-height: 670px;
    background-image: url("../../assets/Home/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
  }